.container.mt-2
  .row
    mixin appMetric(name, title, description)
      app-metric.col-sm-6('[used]'=`${name}.used` '[available]'=`${name}.available`)
        metric-title=title
        metric-description=description
    
    +appMetric('cpu', 'CPU', 'utilization of CPU cores')
    +appMetric('mem', 'Memory', 'utilization of memory in GB')

.container.mt-2
  .card.card-block
    .card-body
      mixin clstr(title, cluster_name)
        nav.navbar.navbar-dark.bg-secondary.mb-1
          h1.navbar-brand.mb-0=title
        table.table.table-hover(app-nodes)
          tr(app-nodes-row, *ngFor=`let node of ${cluster_name}`, '[node]'='node')
      
      +clstr("Cluster 1", 'cluster1')
      +clstr("Cluster 2", 'cluster2')    

<template ngbModalContainer></template>